
.header-main {
  display: flex;
  background-color: #5cffd18c;
  padding: 30px 100px;
  justify-content: space-between;
  align-items: center;
}

.header-search-bar {
  background-color: white;
  width: 500px;
  height: 40px;

  display: flex;
  align-items: center;
  position: relative;
}

.header-search-bar-button {
  width: 20px;
  height: 20px;


  position: absolute;
  right: 10px;
}

.header-logo {
  font-size: 40px;
  font-weight: bold;
}

.header-profile {
  display: flex;
  width: 130px;
  justify-content: space-between;
}
