.main {
  margin-top: 100px;
  height: 100vh;
}

header {
  display: flex;
  background-color: #5cffd1;
  padding: 30px 100px;
  justify-content: space-between;
  align-items: center;
}

.header-search-bar {
  background-color: white;
  width: 500px;
  height: 40px;

  display: flex;
  align-items: center;
  position: relative;
}

.header-search-bar-button {
  width: 20px;
  height: 20px;

  background-color: black;

  position: absolute;
  right: 10px;
}

.header-logo {
  font-size: 40px;
  font-weight: bold;
}

.header-profile {
  display: flex;
  width: 130px;
  justify-content: space-between;
}

.top-3-product,
.category-product {
  margin-top: 30px;
  padding: 0px 360px 0px 360px;
}

.top-3-product-title {
  margin-bottom: 25px;
  margin-top: 0px;
}

.top-3-product-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
