.root {
  display: flex;
}

.top-3-product-list-item {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;
  padding: 10px;

  width: 200px;
  height: 270px;

  cursor: pointer;
}

.top-3-product-list-item-image-box {
  width: 200px;
  height: 200px;
}

.top-3-product-list-item-image {
  width: 200px;
  height: 200px;
}

.top-3-product-list-item:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.top-3-product-list-item-main-box {
  width: 200px;
}

.top-3-product-list-item-title {
  font-size: 15px;
  font-weight: 500;
  line-height: 120%;
}

.top-3-product-list-item-top {
  display: flex;
  width: 200px;
  height: 35px;
  padding-bottom: 10px;
}

.top-3-product-list-item-bottom {
  width: 200px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-3-product-list-item-price {
  display: flex;
}

.top-3-product-list-item-price-value {
  font-weight: 600;
  font-size: 14px;

  line-height: 140%;
  padding-right: 1px;
}

.top-3-product-list-item-price-unit {
  font-size: 12px;
  font-weight: 400;
  line-height: 180%;
}
